<p style="color: green"><%= notice %></p>

<div>
<%= button_to "Destroy this group", @group, method: :delete %>
</div>

<%= render @group %>

<% @group.proceedings.each do |g| %>
  <p><%= g.name %></p>
  <p>$<%= g.amount %></p>
<% end %>

<%= link_to "New Transaction", new_proceeding_path %>
