<p style="color: green"><%= notice %></p>

<%= render @proceeding %>

<div>
  <%= link_to "Edit this proceeding", edit_proceeding_path(@proceeding) %> |
  <%= link_to "Back to proceedings", proceedings_path %>

  <%= button_to "Destroy this proceeding", @proceeding, method: :delete %>
</div>
